{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-promise-executor-return": 0,
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 8
      }
    ]
  }
}